<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.springtest.domain.review.repository.mapper.ReviewMapper">
    <resultMap id="reviewMap" type="ReviewResponse">
        <id property="id" column="r_id"/>
        <result property="content" column="r_content"/>
        <result property="score" column="r_score"/>
        <result property="created_at" column="r_created_at"/>
    </resultMap>

    <resultMap id="reviewPageMap" type="ReviewPageResponse">
        <result property="avgScore" column="avgScore"/>
        <association property="page" javaType="PageResponse">
            <result property="offset" column="offset"/>
            <result property="limit" column="limit"/>
        </association>
        <collection property="reviews" resultMap="reviewMap" column="r_id" javaType="ArrayList"/>
    </resultMap>

    <insert id="saveReview" parameterType="Review">
        insert into review(id, content, score, created_at, restaurant_id)
        values(REVIEW_SEQ.nextval, #{content}, #{score}, systimestamp, #{restaurant_id})
    </insert>

    <delete id="deleteReview" parameterType="long">
        delete from review where id = #{id}
    </delete>

    <select id="findById" resultMap="reviewMap" parameterType="long">
        select id, content, score, created_at, restaurant_id
        from review where id = #{id}
    </select>

    <select id="findAll" resultMap="reviewPageMap" parameterType="map">
       <![CDATA[
        SELECT (select avg(r.score) from review r where r.restaurant_id = #{restaurant_id}) as avgScore,
            #{offset} as offset, #{limit} as limit,
            re.id as r_id, re.content as r_content, re.score as r_score, re.created_at as r_created_at
        FROM
            (
                SELECT inner_query.*, ROWNUM rnum
                FROM (
                         SELECT id, content, score, created_at
                         FROM review
                         WHERE restaurant_id = #{restaurant_id}
                         ORDER BY created_at DESC
                     ) inner_query
                WHERE ROWNUM <= #{limit} + #{offset}
            ) re
        WHERE rnum >= #{offset}
        ]]>
    </select>

    <select id="findAvgScore" resultType="float" parameterType="long">
        select avg(score) from review where restaurant_id = #{restaurant_id}
    </select>

</mapper>